<!-- <div class="footer">
    <div class="fotterbtn">Pay All Athletics</div>
    <div class="fotterbtn">Pay All Athletics</div>
    <div class="fotterbtn">Pay All Athletics</div>
    <div class="fotterbtn">Pay All Athletics</div>
</div> -->


<div class="footer">
    <div class="footerimg"> <a href="/home"><img src="/imgs/logo.png" alt=""></a></div>

    <div class="footerinfos">
      <div class="footone">
          <div class="foottitle">VE's Other Projects</div>
          <div class="footlables">
              <!-- <div class="footlabel"><a href="/payallathe">Pay All Atheletes</a></div>
              <div class="footlabel"><a href="<%= app %>">Von Elijah App</a></div>
              <div class="footlabel"><a href="<%= app %>">Development</a></div> -->

              <div class="footlabel"><a href="/payallathe">Pay All Atheletes</a></div>
              <div class="footlabel"><a href="#>Von Elijah App</a></div>
              <div class="footlabel"><a href="#">Development</a></div>
          </div>
      </div>
      <div class="footone">
        <div class="foottitle">Your Fitness</div>
        <div class="footlables">
            <!-- <div class="footlabel"><a href="<%= why %>">Squat University</a></div>
            <div class="footlabel"><a href="<%= training %>">Testosterone Nation</a></div>
            <div class="footlabel"><a href="<%= tip %>">Strive for Great Health</a></div> -->
            <div class="footlabel"><a href="#">Squat University</a></div>
            <div class="footlabel"><a href="#">Testosterone Nation</a></div>
            <div class="footlabel"><a href="#">Strive for Great Health</a></div>
        </div>
      </div>
      <div class="footone">
        <div class="foottitle">Contact Us</div>
        <div class="footlables">
            <!-- <div class="footlabel f"><img src="/imgs/facebook.png" alt="" class="facebook"><a href="<%= facebook %>">Facebook</a></div>
            <div class="footlabel f"><img src="/imgs/instagram.png" alt=""> <a href="<%= instagram %>">Instagram</a></div>
            <div class="footlabel f"><img src="/imgs/twitter.png" alt=""><a href="<%= twitter %>">Twitter</a> </div>
            <div class="footlabel f"><img src="/imgs/pinterest.png" alt="" class="pin"><a href="<%= pintrest %>">Pintrest</a> </div> -->
            <div class="footlabel f"><img src="/imgs/facebook.png" alt="" class="facebook"><a href="#">Facebook</a></div>
            <div class="footlabel f"><img src="/imgs/instagram.png" alt=""> <a href="#">Instagram</a></div>
            <div class="footlabel f"><img src="/imgs/twitter.png" alt=""><a href="#">Twitter</a> </div>
            <div class="footlabel f"><img src="/imgs/pinterest.png" alt="" class="pin"><a href="#">Pintrest</a> </div>
        </div>
      </div>
      <div class="footone">
        <div class="foottitle">Affiliate Businesses</div>
        <div class="footlables">
            <!-- <div class="footlabel"><a href="<%= top1 %>">Top 1</a></div>
            <div class="footlabel"><a href="<%= top2 %>">Top 2</a></div>
            <div class="footlabel"><a href="<%= top3 %>">Top 3</a></div> -->
            <div class="footlabel"><a href="#">Top 1</a></div>
            <div class="footlabel"><a href="#">Top 2</a></div>
            <div class="footlabel"><a href="#">Top 3</a></div>
        </div>
      </div>
    </div>
</div>