<form action="/setting" method="post">
  <div class="lid">
    <input name="ida" type="text" value=<%=id %> >
  </div>
  <div class="profileinfo" id="pinfo">
    <div class="pemail">
      <div class="ni">
        <div class="ll"><% userinfo.forEach(function(image) { %>
          <div class="imgdetails">
            <% if(image.img.data){%>
              <img src="data:image/<%=image.img.contentType%>;base64,
              <%=image.img.data.toString('base64')%>" onclick="profile()">
            <% }else{ %>
              <img src="/imgs/profilelogo.jpeg" alt="" onclick="profile()">
            <%}%>
          </div>
          <% }) %></div>
        <div class="dd">
          <h5 class="namee">
            <%= name %>
          </h5>
          <p class="emaill">
            <%= email %>
          </p>
        </div>
      </div>
    </div>
    <div class="oinfo">
      <div class="setting" id="sett"><button type="submit">Setting</button></div>
      <div class="setting" id="gyms" onclick="gyms()">My Gyms</div>
      <!-- <div class="setting" id="pho" onclick="photo()">Photo</div> -->
      <div class="setting" id="mass" onclick="massage()">Book Massage</div>
      <div class="setting" id="phy" onclick="phycisal()">Book Physical Therapy</div>
      <div class="setting" id="log"><a href="/signup">Log Out</a></div>
    </div>
  </div>
</form>
<form action="/photo" method="post" class="formm">
  <div class="lid">
    <input name="ida" type="text" value="<%=id %>" >
  </div>
  <button type="submit" id="photo">sub</button>
</form>
<form action="/settinggyms" method="post" class="formm">
  <div class="lid">
    <input name="ida" type="text" value="<%=id %>" >
  </div>
  <button type="submit" id="gymbnt">sub</button>
</form>
<form action="/massage" method="post" class="formm">
  <div class="lid">
    <input name="ida" type="text" value="<%=id %>" >
  </div>
  <button type="submit" id="massage">sub</button>
</form>
<form action="/physical" method="post" class="formm">
  <div class="lid">
    <input name="ida" type="text" value="<%=id %>" >
  </div>
  <button type="submit" id="physical">sub</button>
</form>
