<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/price.css">
  <link rel="stylesheet" href="/home.css">
  <link rel="stylesheet" href="/signup.css">
  <link rel="stylesheet" href="/checkout2.css">
  <script type="text/javascript" src="jquery-3.5.1.min.js"> </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout</title>
</head>

<body>

  <%- include('../partials/loginedheader.ejs'); %>


    <form action="/checkout2" method="post">
      <div class="lid">
        <input name="ida" type="text" value=<%=id %> >
      </div>
      <input type="text" name="email" id="emmail" value="<%= email %>">
      <div class="topest">
        <div class="top">Client</div>
        <div class="second">
          <div class="sfirst" id="personal" onclick="personal()">
            <div class="st">$49.99</div>
            <div class="stx">Personal Trainers</div>
            
            <input type="checkbox" name="personalcheck" id="personalcheck" required class="che">
            <div class="select">Select</div>
          </div>
          <div class="sfirst" id="fir" onclick="first()">
            <div class="st">$149.99</div>
            <div class="stx">select up to 5 gyms to add to your cost</div>
            <div class="message1">
              <span class="white">Schedule </span> <span class="green">1 Free Message </span><span class="white">Every 4 Month</span>
          </div>
          <!-- <div class="message2">
              <span class="white">Schedule </span> <span class="green">1 Free Physical Therapy Session </span><span class="white">Every 4 Month</span>
          </div> -->
          <div class="message3">
              <span class="white">Schedule </span> <span class="green">Free Personal Training Sessions</span><span class="white"></span>
          </div>
            <input type="checkbox" name="personalcheck" id="lesscheck" required class="che">

            <div class="select">Select</div>
          </div>
          <div class="ssecond" id="sec" onclick="second()">
            <div class="st">$499.99</div>
            <div class="stx">select up to 15 gyms to add to your cost</div>
            <div class="message1">
              <span class="white">Schedule </span> <span class="green">1 Free Message </span><span class="white">Every Month</span>
          </div>
          <!-- <div class="message2">
              <span class="white">Schedule </span> <span class="green">1 Free Physical Therapy Session </span><span class="white">Every Month</span>
          </div> -->
          <div class="message3">
              <span class="white">Schedule </span> <span class="green">Free Personal Training Sessions</span><span class="white"></span>
          </div>
            <input type="checkbox" name="personalcheck" id="largecheck" required class="che">
            <div class="select">Select</div>
          </div>
        </div>
        <input type="text" name="plan" id="plan" class="nonen">
        <div class="third" class="nonen">
          <select id="ecopre">
            <option value="economical" id="eco">Economical</option>
            <option value="Premimum" id="pre">Premimum</option>
          </select>
        </div>
        <div class="selecttitle" id="selectt">Select Gyms</div>
        <div class="last" id="lastt"> 
          <div class="ecogymss">
            <div class="ltitle">Economical</div>
            <div class="horizontal"></div>
            <% gyms.forEach(function(image) { %>
              <div class="details">
                <input type="checkbox" name="checkbox" id="" class="checkbox">
                <div class="name">
                  <%= image.title1 %>
                </div>
                <input type="text" class="gymname nonen" name="gymname" value="<%= image.title1 %>">
                <input type="text" class="gymemail nonen" name="gymemail" value="<%= image.email %>">
                <input type="number" class="gymprice nonen" name="gymprice" value="<%= image.price %>">
              </div>
              <div class="horizontal"></div>
              <% }) %>
                <div><input type="text" id="ecogyms" name="ecogyms"></div>
          </div>
          <div class="ecogyms">
            <!-- <div >
              <div class="ltitle">Economical</div>
              <div class="horizontal"></div>
              <% gyms.forEach(function(image) { %>
                <div class="details" >
                  <input type="checkbox" name="checkbox" id="" class="checkbox">
                  <div class="name">
                      <%= image.title1 %>
                  </div>
                  <input type="text" class="gymname nonen" name="gymname" value="<%= image.title1 %>">
                  <input type="text" class="gymemail nonen" name="gymemail" value="<%= image.email %>">
                  <input type="number" class="gymprice nonen" name="gymprice" value="<%= image.price %>">
                </div>
                <div class="horizontal"></div>
                <% }) %>
            </div> -->
            <div onclick="pregyms()"  class="premimuss">
              <!-- <div class="ltitle">Premimum</div> -->
              <!-- <div class="horizontal"></div> -->
              <% lessplan.forEach(function(image) { %>
                <div class="details lessplan" >
                  <div class="flexxx">
                    <input type="checkbox" name="checkbox" id="" class="checkbox">
                    <div class="name">
                      <%= image.title1 %>
                      <span class="det"><%= image.plan2 %></span>
                    </div>
                  </div>
                  <input type="text" class="gymname nonen" name="gymname" value="<%= image.title1 %>">
                  <input type="text" class="gymemail nonen" name="gymemail" value="<%= image.email %>">
                  <input type="number" class="gymprice nonen" name="gymprice" value="<%= image.price %>">
                </div>
                <!-- <div class="horizontal"></div> -->
                <% }) %>
                <% largeplan.forEach(function(image) { %>
                  <div class="details largeplan" >
                    <div class="flexxx">
                      <input type="checkbox" name="checkbox" id="" class="checkbox">
                      <div class="name">
                        <%= image.title1 %>
                        <span class="det"><%= image.plan2 %></span>
                      </div>
                    </div>
                    <input type="text" class="gymname nonen" name="gymname" value="<%= image.title1 %>">
                    <input type="text" class="gymemail nonen" name="gymemail" value="<%= image.email %>">
                    <input type="number" class="gymprice nonen" name="gymprice" value="<%= image.price %>">
                  </div>
                  <!-- <div class="horizontal"></div> -->
                  <% }) %>
            </div>

          </div>
        </div>
        <input type="text" name="names" id="names" class="nonen">
        <input type="text" name="emails" id="emails" class="nonen">
        <input type="text" name="value" id="value" class="nonen">
      </div>
      <!-- <button type="submit" id="submit">Submit</button> -->
      <div class="btn" onclick="check()">Next</div>
      <button class="btn nonen" id="butto" onclick="check()">New</button>
    </form>
    <%- include('../partials/fotter.ejs'); %>





    
    <script>
      function photo(){
        console.log("clicked");
        document.getElementById("photo").click();
      }
      function gyms(){
        console.log("gym cliikced");
        document.getElementById("gymbnt").click();
      }
      function massage(){
        document.getElementById("massage").click();
      }
      function phycisal(){
        document.getElementById("physical").click();
      }
      function account2(){
        document.getElementById("private").checked = false;
        document.getElementById("public").checked = false;
      }
      function account1(){
        document.getElementById("private").checked = false;
        document.getElementById("public").checked = false;
      }
  </script>
  <script>


    function editt() {
      console.log("clicked");
      document.getElementById("dda").click();
    }
    function setting() {

    }
    function profile() {
      let tap = document.getElementById("pinfo");
      console.log(tap.style.display);
      if (tap.style.display == "none") {
        tap.style.display = "block";
      }
      else {
        tap.style.display = "none";
      }
    }
  </script>
      <script>
        let namearr = new Set();
        window.namearr = [];
        let valuee = 0;
        window.valuee = 0;
        let arr = new Set();
        window.arr = [];


        function check() {
          let val = 0;
          let newa = [];
          let emails = [];
          localStorage.setItem("users", 'JSON.stringify(users)');
          // console.log(document.getElementsByClassName("gymprice")[0].value);
          l = 0;
          // console.log(document.getElementsByClassName("checkbox"));
          let checks = [...document.getElementsByClassName("checkbox")]
          console.log(document.getElementsByClassName("gymprice"));
          checks.forEach(function (image) {
            if (image.checked == true) {
              console.log(l + "inseide");
              val = val + parseInt(document.getElementsByClassName("gymprice")[l].value);
            }
            l++;
          })
          document.getElementById("value").value = val;
          console.log(namearr);
          console.log(arr);

          console.log(arr);
          localStorage.setItem('emails', JSON.stringify(namearr));
          let j = 0;
          let k = 0;
          arr.forEach(function (image) {
            emails[k] = image;
            k++;
          })
          namearr.forEach(function (image) {
            newa[j] = image;
            j++;
          })
          console.log(newa);
          localStorage.setItem('names', JSON.stringify(newa));
          localStorage.setItem('emails', JSON.stringify(emails));
          console.log(JSON.stringify(newa));
          console.log(JSON.stringify(emails));
          document.getElementById("names").value = JSON.stringify(newa);
          document.getElementById("emails").value = JSON.stringify(emails);
          document.getElementById("butto").click();
        }
        // function ecogyms() {
        //   console.log("clicked");
        //   for (var i = 0; i < 23; i++) {
        //     let check = document.getElementsByClassName("checkbox")[i].checked;
        //     if (check == true) {
        //       let email = document.getElementsByClassName("gymemail")[i].value;
        //       let name = document.getElementsByClassName("gymname")[i].value;
        //       arr.add(email);
        //       namearr.add(email);
        //     }
        //     else {
        //       let emaill = document.getElementsByClassName("gymemail")[i].value;
        //       let name = document.getElementsByClassName("gymname")[i].value;
        //       arr.delete(emaill);
        //       namearr.delete(emaill);
        //     }
        //     document.getElementById("ecogyms").value = "";
        //     for (var i = 0; i < arr.length; i++) {
        //       document.getElementById("ecogyms").value = arr[i] + document.getElementById("ecogyms").value;
        //     }
        //   }
        //   console.log(arr);
        //   console.log(namear);
        // }
        function pregyms() {
          let newarr = [];
          console.log(document.getElementsByClassName("checkbox"));
          for (var i = 0; i < 44; i++){
            console.log(document.getElementsByClassName("checkbox")[i].checked);
            let check = document.getElementsByClassName("checkbox")[i].checked;
            if(check == true){
              let email = document.getElementsByClassName("gymemail")[i].value;
              let name = document.getElementsByClassName("gymname")[i].value;
              console.log("true");
              console.log(email);
              console.log(name);
              arr.add(email);
              namearr.add(name);
            }
            else{
              let emaill = document.getElementsByClassName("gymemail")[i].value;
              let name = document.getElementsByClassName("gymname")[i].value;
              arr.delete(emaill);
              namearr.delete(name);
            }
          }
          console.log(arr);
          console.log(namearr);
          console.log(namearr.size);
        }
        function first() {
          document.getElementById("fir").style.border = "4px solid red";
          document.getElementById("sec").style.border = "1px solid white";
          document.getElementById("personal").style.border = "1px solid white";

          document.getElementById("plan").value = "less";
          document.getElementById("lastt").style.display = "flex";


          document.getElementById("lesscheck").checked = true;
          document.getElementById("lesscheck").required = true;
          document.getElementById("personalcheck").required = false;
          document.getElementById("largecheck").required = false;
          document.getElementById("selectt").display = "block";
          var s = document.getElementsByClassName("lessplan").length;
          var l = document.getElementsByClassName("largeplan").length;
          console.log(s);
          console.log(l);
          // document.getElementsByClassName("lessplan")[0].style.display="none";
          // console.log(document.getElementsByClassName("lessplan")[0].style.display);
          // console.log(document.getElementsByClassName("details")[0].style.display);

          for(var i=0;i<s;i++){
            document.getElementsByClassName("lessplan")[i].style.display = "flex";
          }
          for(var i=0;i<l;i++){
            document.getElementsByClassName("largeplan")[i].style.display = "none";
          }
        }
        function second() {
          document.getElementById("sec").style.border = "4px solid red";
          document.getElementById("fir").style.border = "1px solid white";
          document.getElementById("personal").style.border = "1px solid white";
          document.getElementById("plan").value = "large";
          document.getElementById("lastt").style.display = "flex";
          
          document.getElementById("largecheck").checked = true;
          document.getElementById("largecheck").required = true;
          document.getElementById("personalcheck").required = false;
          document.getElementById("lesscheck").required = false;
          document.getElementById("selectt").display = "block";

          var s = document.getElementsByClassName("lessplan").length;
          var l = document.getElementsByClassName("largeplan").length;
          console.log(s);
          console.log(l);
          for(var i=0;i<s;i++){
            document.getElementsByClassName("lessplan")[i].style.display = "none";
          }
          for(var i=0;i<l;i++){
            document.getElementsByClassName("largeplan")[i].style.display = "flex";
          }
        }
        function personal() {
          document.getElementById("sec").style.border = "1px solid white";
          document.getElementById("fir").style.border = "1px solid white";
          document.getElementById("personal").style.border = "4px solid red";
          document.getElementById("plan").value = "personal";
          document.getElementById("lastt").style.display = "none";

          document.getElementById("personalcheck").checked = true;
          document.getElementById("personalcheck").required = true;
          document.getElementById("lesscheck").required = false;
          document.getElementById("largecheck").required = false;
          document.getElementById("selectt").display = "none";
        }
      </script>

      <script>
        function incerease() {
          let value = document.getElementById("amtv").innerText;
          console.log("HELLO");
          document.getElementById("amtv").innerText++;
        }

        function decrease() {
          let value = document.getElementById("amtv").innerText;
          if (value > 1) {
            document.getElementById("amtv").innerText--;
          }
        }

        function submit() {
          document.getElementById('subbtn').click();
        }
      </script>
      <script src="./slick.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
        integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</body>

</html>