<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>GYms</title>
</head>
<body>
    <div class="fullpage">
        <div class="nav">
            <div class="navbar">
                <div class="logodetails">
                    <div class="img"><img src="/imgs/logo.png" alt=""></div>
                </div>
                <div class="navbtns">
                    <div class="navbtn"><a href="/">Participting Gyms & Studios</a></div>
                    <div class="navbtn"><a href="/">Pricing</a></div>
                    <div class="navbtn"><a href="/">Personal Trainers</a></div>
                    <div class="navbtn"><a href="/">Sign up</a></div>
                    <div class="navbtn"><a href="/">Login</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="allgyms">
        <% for(var i=0; i<item.length; i++) {%>
            <div class="gyminfo">
                <div class="profileimg"><img src="/imgs/gymlogo1.png" alt="" class="img"></div>
                <div class="gymname"><%= item[i].gymname%></div>
                <div class="gymname"><%= item[i].name%></div>
                <div class="otherinfo">
                    <div class="gymbio"><%= item[i].gymbio %></div>
                    <div class="state"><%= item[i].city %>,<%= item[i].state %></div>
                    <div class="city"> </div>
                </div>
            </div>
         <% } %>
    </div>
</body>
</html>