<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/home.css">
    <title>GYms</title>
</head>
<body>
    
  <div class="dva">
    <div class="value">
        <div class="leftarr"><img src="/imgs/right-arrow.png" alt="" onclick="decrease()""></div>
        <div class="amt">$ <span class="amtvalue" id="amtv">10</span></div>
        <div class="rightarr"><img src="/imgs/right-arrow.png" alt="" onclick="incerease()"></div>
    </div>
  </div>
  <div class="donatee" onclick="donate()">
      <div class="dbtn">
        <div class="submit">Donate</div>
      </div>
  </div>
      <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start navbar">
              <div class="flex flex-shrink-0 items-center logo">
                <a href="/home"><img class="block h-8 w-auto lg:hidden" src="/imgs/logo.png" alt="Your Company"></a>
              </div>
              <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                  <a href="/" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium navbtns" aria-current="page">Home</a>
      
                  <a href="/gyms" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium red navbtns">Gyms</a>
      
                  <a href="/normaltrainer" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium navbtns">Personal Trainers</a>
      
                  <a href="/pricing" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium navbtns">Pricing</a>
    
                  <a href="/signup" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium navbtns">Login/Register</a>
    
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="sm:hidden" id="mobile-menu">
          <div class="space-y-1 px-2 pt-2 pb-3">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/home" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium navbtns" aria-current="page">Home</a>
      
            <a href="/gyms" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium red navbtns">Gyms</a>
      
            <a href="/normaltrainer" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium navbtns">Personal Trainers</a>
      
            <a href="/pricing" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium navbtns">Pricing</a>
    
            <a href="/signup" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium navbtns">Login/Register</a>
          </div>
        </div>
      </nav>

    <div class="gymtitle">GYMS</div>
    <div class="allgyms">
      <% item.forEach(function(image) { %>
            <div class="gyminfo">
                <div class="profileimg">
                  <img src="data:image/<%=image.img.contentType%>;base64,
                  <%=image.img.data.toString('base64')%>">
                </div>
                <div class="gymname"><%= image.title1 %></div>
                <div class="otherinfo">
                    <div class="gymbio line2"><%= image.title2 %></div>
                    <div class="gymbio line3"><%= image.title3 %></div>
                    <div class="gymbio line3"><%= image.title4 %></div>
                </div>
            </div>
         <% }) %>
    </div>
    <div class="btns">
        <div class="btn btn2">Show More</div>
      </div>
    <!-- <%- include('../partials/fotter.ejs'); %> -->



    <script>
      function incerease(){
         let value = document.getElementById("amtv").innerText;
         console.log("HELLO");
         document.getElementById("amtv").innerText++;
      }

      function decrease(){
         let value = document.getElementById("amtv").innerText;
         if(value >1){
          document.getElementById("amtv").innerText--;
         }
      }
  </script>
  <script>
    function donate(){
      window.location = "https://buy.stripe.com/test_fZe0000sBbOH0ZWdQY";  
    }
</script>
</body>
</html>