<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/slick.css">
  <link rel="stylesheet" href="/home.css">
  <link rel="stylesheet" href="/setting.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EDIT</title>
</head>

<body>
  <%- include('../partials/loginedheader.ejs'); %>
  <form action="/editedsetting" method="post">
    <div class="lid">
      <input name="ida" type="text" value=<%=id %> >
    </div>
    <div class="userinfo">
      <div class="usertop">
        <% userinfo.forEach(function(image) { %>
          <div class="imgdetails">
            <% if(image.img.data){%>
              <img src="data:image/<%=image.img.contentType%>;base64,
              <%=image.img.data.toString('base64')%>" onclick="profile()">
            <% }else{ %>
              <img src="/imgs/profilelogo.jpeg" alt="" onclick="profile()">
            <%}%>
          </div>
          <% }) %>
            <div class="name">
              <%= name %>
            </div>
            <div class="identity">
              <%= identity %>
            </div>
      </div>

      <div class="editinfo">
        <div class="ebtn edd" id="ddd" onclick="editt()"><button type="submit" id="dda">
            Edit </button>
        </div>
        <div class="elabel">
          <label for="">First Name</label>
          <input type="text" value="<%= result.firstname %>" readonly>
        </div>
        <div class="elabel">
          <label for="">Last Name</label>
          <input type="text" value="<%=result.last %>" readonly>
        </div>
        <div class="elabel">
          <label for="">Email</label>
          <input type="text" value="<%=result.email %>" readonly>
        </div>
        <div class="elabel">
          <label for="">Phone Number</label>
          <input type="text" value="<%=result.phoneno %>" readonly>
        </div>
        <div class="elabel">
          <label for="">Bio</label>
          <textarea type="text"  value="<%=result.bio %>" readonly></textarea>
        </div>
        <div class="elabel">
          <label for="">Phone Number</label>
          <input type="text" value="<%=result.phoneno %>" readonly>
        </div>
        <div class="elabel">
          <label for="">Date of Birth</label>
          <input type="date" value="<%=result.date %>" readonly>
        </div>
        <div class="elabel">
          <label for="">Gender</label>
          <input type="text" value="<%=result.gender %>" readonly>
        </div>
        <div class="elabel">
          <label for="">City</label>
          <input type="text" value="<%=result.city %>" readonly>
        </div>
        <div class="elabel">
          <label for="">State</label>
          <input type="text" value="<%=result.state %>" readonly>
        </div>
        <div class="elabel">
          <label for="">Zip Code</label>
          <input type="text" value="<%=result.zipcode %>" readonly>
        </div>
        <div class="elabel">
          <label for="">Address</label>
          <input type="text" value="<%=result.address %>" readonly>
        </div>
        <div class="elabel">
          <label for="">Apt/ Suite/ Unite(optional)</label>
          <input type="text" value="<%=result.apt %>" readonly>
        </div>
        <div class="elabel">
          <label for="">Emergency Contact Name</label>
          <input type="text" value="<%=result.emame %>" readonly>
        </div>
        <div class="elabel">
          <label for="">Emergency Contact Email</label>
          <input type="text" value="<%=result.eemail %>" readonly>
        </div>
        <div class="elabel">
          <label for="">Emergency Contact Number</label>
          <input type="number" value="<%= result.ephone %>" readonly>
        </div>
        <div class="detail account">
          <label for=""class="acc" >Account</label>
          <div class="checkb">
              <div onclick="account2()"><input type="checkbox" name="private" id="private" readonly><Label
                  class="checkw">Private</Label></div>
            <div onclick="account1()"><input type="checkbox" name="public" id="public" readonly><Label class="checkw">Public</Label></div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <%- include('../partials/fotter.ejs'); %>



    <script src="./slick.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
      integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>


      <script>
        function photo(){
          console.log("clicked");
          document.getElementById("photo").click();
        }
        function gyms(){
          console.log("gym cliikced");
          document.getElementById("gymbnt").click();
        }
        function massage(){
          document.getElementById("massage").click();
        }
        function phycisal(){
          document.getElementById("physical").click();
        }
        function account2(){
          document.getElementById("private").checked = false;
          document.getElementById("public").checked = false;

        }
        function account1(){
          document.getElementById("private").checked = false;
          document.getElementById("public").checked = false;

        }
    </script>
    <script>


      function editt() {
        console.log("clicked");
        document.getElementById("dda").click();
      }
      function setting() {

      }
      function profile() {
        let tap = document.getElementById("pinfo");
        console.log(tap.style.display);
        if (tap.style.display == "none") {
          tap.style.display = "block";
        }
        else {
          tap.style.display = "none";
        }
      }
    </script>

</body>

</html>